@font-face {
    font-family: Roboto_regular;
    src: url(./publics/fonts/Roboto_Serif/static/RobotoSerif/RobotoSerif-Regular.ttf);
}

@font-face {
    font-family: Roboto_bold;
    src: url(./publics/fonts/Roboto_Serif/static/RobotoSerif/RobotoSerif-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto_regular';
}


/* header */

.header .container {
    position: relative;
}

.header {
    background-color: #fff;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: 0.8s linear;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    min-height: 120vh;
    overflow-y: auto;
}

.header .menu-btn:checked~.menu::-webkit-scrollbar {
    display: none;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* Search */

.header .menu .search {
    padding: 10px 0px;
    margin: 0px 20px;
    order: 1;
}

.header .menu .search input {
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 70%;
}

.header .menu .search button {
    border: none;
    padding: 5px 7px 0px 7px;
    margin-left: 10px;
    background-color: transparent;
}

.header .menu .menu_desk {
    display: none;
}

.header .menu .menu_mobile {
    display: block;
}

.header .menu .menu_mobile i {
    margin-right: 20px;
}


/* Thể loại */

.icon_childrent_menu {
    transition: 0.5s;
}

.btn_click:hover .icon_childrent_menu {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.children_menu {
    transition: 0.5s linear;
    height: 0px;
}

.btn_click:hover .children_menu {
    height: min-content;
}

.btn_click:hover .children_menu li a {
    padding: 10px 50px;
}

.header .children_menu li:hover a {
    background-color: white;
}


/* End thể loại */


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header .btn_click {
        width: 150px;
    }
    .header {
        position: absolute;
    }
    .header .children_menu {
        box-shadow: 0px 3.5px 5px rgba(0, 0, 0, .5);
        display: flex;
        position: relative;
        z-index: 3;
        width: max-content;
    }
    .header .children_menu li {
        clear: both;
        width: max-content;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .header .menu .menu_desk {
        display: block;
    }
    .header .menu .menu_mobile {
        display: none;
    }
    .header .menu .search input {
        width: 230px;
    }
    /* Main */
    .main {
        position: relative;
        top: 65px;
    }
    /* End main */
}


/* End header */


/* Main */

.main {
    padding: 20px 0px;
}


/* Banner */

.banner {
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner h3 {
    font-family: Roboto_bold;
    margin-bottom: 15px;
}

.banner p {
    padding: 20px 0px;
    font-size: 15px;
}

.banner .desc_banner {
    display: block;
    padding-bottom: 70px;
    height: 100%;
    align-items: center;
    margin: auto 0;
}

.banner .desc_banner button {
    padding: 3px 15px;
    margin-right: 15px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 1px 5px rgb(0, 0, 0);
    transition: 0.85s;
}

.banner .desc_banner button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.774);
}

.banner .img_banner {
    height: 100%;
}

@media (max-width:768px) {
    .banner .img_banner {
        order: 1;
    }
    .banner .desc_banner {
        padding: 10px;
    }
    .banner .desc_banner {
        order: 2;
    }
    .main .new_dishes .img_new_dishes {
        display: block;
        margin: auto;
        padding-bottom: 35px;
    }
}


/* Article */

.main .article .new_comic {
    padding: 10px 0px;
}

.main .article .new_comic .title_new_comic {}

.main .article .new_comic .title_new_comic h4 {
    margin: 0;
    padding: 0;
}

.main .article .new_comic .title_new_comic hr {
    margin: 10px 0px;
}

.main .article .new_comic .content_new_comic {
    display: flex;
    justify-content: space-between;
}


/* End main */