* {
    margin: 0;
    padding: 0;
}


/* Header */

.header a {
    color: black;
}

.header i {
    padding-right: 10px;
}

.header .d-flex input {
    padding: 0px 0px 0px 10px;
}

.header .d-flex button {
    margin: auto;
    padding: 3px 15px !important;
    width: min-content;
    height: min-content;
    border-radius: 5px;
}

.header button:hover {
    background-color: transparent !important;
}


/* End header */


/* Footer */

@media screen and (max-width: 465px) {
    html {
        font-size: 14px
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}

.copyright {
    padding: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-3);
    text-align: center;
    border-top: 1px solid var(--color-3);
}

.footer-nav {
    padding: 1rem 0
}

.footer-nav .col {
    max-width: 300px;
}

p.site-decription {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 400;
}

.social-medias a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    font-size: 17px;
}

.social-medias svg {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-jc-start {
    justify-content: flex-start;
}

.flex-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-g-1 {
    gap: 1rem;
}

.col {
    flex: 1;
}

.col-list ul li {
    list-style: none;
}

.col-list ul li a {
    text-decoration: none;
    color: var(--color-3);
    transition: var(--transition)
}

.col-list ul li a:hover,
.col-list ul li a:focus {
    color: var(--color);
    text-decoration: underline
}

@media screen and (max-width: 1100px) {
    .footer-nav {
        flex-direction: column
    }
}


/* End footer */