* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Header */

.header nav {
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.header a {
    color: black;
}

.header i {
    padding-right: 10px;
}

.header .d-flex input {
    padding: 0px 0px 0px 10px;
}

.header .d-flex button {
    margin: auto;
    padding: 3px 15px !important;
    width: min-content;
    height: min-content;
    border-radius: 5px;
}

.header button:hover {
    background-color: transparent !important;
}


/* End header */


/* Article */


/* .article .banner {
    height: 450px;
} */

.article {
    padding: 25px 0px;
}

.article .truyen_thuan_viet .title_truyen_thuan_viet {
    display: flex;
    justify-content: space-between;
}

.article .truyen_thuan_viet .title_truyen_thuan_viet h4 {
    font-weight: 700;
}

.article .truyen_thuan_viet .title_truyen_thuan_viet p {
    background-color: #4400ff;
    text-align: center;
    border-radius: 3px;
    height: 25px;
    clip-path: polygon(0% 0%, 82% 0, 100% 50%, 82% 100%, 0% 100%);
}

.article .truyen_thuan_viet .title_truyen_thuan_viet p a {
    color: white;
    text-decoration: none;
    padding: 7px 15px 7px 5px;
    margin: 0;
    text-align: center;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.164);
    padding: 20px 0px;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet {
    padding: 5px 10px;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet .thumnail_item {
    border-radius: 5px;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet .thumnail_item img {
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    height: 220px;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet .thumnail_item:hover img {
    transform: scale(1.07);
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet .content_item {
    padding: 15px 0px;
}

.article .truyen_thuan_viet .content_truyen_thuan_viet .item_truyen_thuan_viet .content_item b a {
    text-decoration: none;
    color: black;
}

.article .list_icon {
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}

.article .list_icon .item_list_icon {
    display: flex;
    justify-content: flex-start;
    padding: 0px 25px;
    align-items: center;
}

.article .list_icon .item_list_icon .icon i {
    text-align: center;
    font-size: 18px;
    margin: auto 10px auto 10px;
    padding: 10px;
    border: 0.5px solid gainsboro;
    border-radius: 3px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat {
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-bottom: 25px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen {
    position: relative;
    width: 48%;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content {
    height: 220px;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to right bottom, #ffb2b9, #f0abc9, #d7a8d7, #b4a7df, #8aa8df);
    position: absolute;
    top: 25%;
    border-radius: 5px;
    z-index: 1;
    padding: 10px 5px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .mo_ta {
    padding-top: 15px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .mo_ta p {
    display: -webkit-box;
    height: 16px*1.3*4;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .thumnail {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 2;
    text-align: center;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .thumnail img {
    border-radius: 7px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .thumnail button {
    margin-top: 5px;
    font-size: 15px;
    padding: 3px 15px;
    border-radius: 55px;
    border: 0;
    background-color: white;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .thumnail button a {
    color: rgb(255, 129, 129);
    text-decoration: none;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content b a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .tac_gia {
    font-size: 15px;
    color: rgb(65, 65, 65);
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .vote {
    color: rgb(65, 65, 65);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .vote p {
    padding-right: 15px;
    margin: 0;
    padding-top: 5px;
}

.article .truyen_thuan_viet .top_truyen_noi_bat .item_truyen .content .gia_ban {
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 15px;
    margin: 10px 0px!important;
}


/* End article */


/* Footer */

.footer {
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}

.copyright {
    padding: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-3);
    text-align: center;
    border-top: 1px solid var(--color-3);
}

.footer-nav {
    padding: 1rem 0
}

.footer-nav .col {
    max-width: 300px;
}

p.site-decription {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 400;
}

.social-medias a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    font-size: 17px;
}

.social-medias svg {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-jc-start {
    justify-content: flex-start;
}

.flex-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-g-1 {
    gap: 1rem;
}

.col {
    flex: 1;
}

.col-list ul li {
    list-style: none;
}

.col-list ul li a {
    text-decoration: none;
    color: var(--color-3);
    transition: var(--transition)
}

.col-list ul li a:hover,
.col-list ul li a:focus {
    color: var(--color);
    text-decoration: underline
}

@media screen and (max-width: 1100px) {
    .footer-nav {
        flex-direction: column
    }
}


/* End footer */


/* Swipper */

.banner {
    margin: 25px 0px
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    height: 450px !important;
}


/* End swipper */